<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="timersassignment.simplegallery" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".detail.DetailViewActivity"
            android:theme="@style/AppBlankTheme"
            />

        <activity android:name=".cameraroll.CameraRollActivity" />

        <service android:name=".save.ImageSaveService" />

        <receiver android:name=".save.ImageSaveBraodcastReceiver" >
            <intent-filter>
                <action android:name="timersassignment.simplegallery.save" />
                <action android:name="timersassignment.simplegallery.delete" />
                <action android:name="timersassignment.simplegallery.update" />
                <action android:name="timersassignment.simplegallery.share" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
